

h1,h2{
    font-weight: 600;
}
h1{
    font-weight: 200;
}
.style{
        green-font{
          color:green;
        }
        red-font{
          color: red;
        }
        blue-font{
          color: blue;
        }
}

p.cname{
    font-weight: 500;
}